.double{margin-top:0px;position: relative;height: 1960px}
.history{margin:0px 0;position: relative;height: 1455px;background: url('../img/history_bg.jpg') no-repeat;}
.testimo{margin:0px 0 0px 0;background: url('../img/testimo_bg.jpg') no-repeat right;height: 862px;position: relative;}
.video_page {position:relative;margin:80px 0;}