@charset "utf-8";
/*
 * avene 2013 10 
 */

/* Reset
================================================================================================= */
body{color:#555;background:#ffebe6;font-size:12px;line-height:1.666em;}
body{font-family:"Microsoft YaHei",arial,SimHei,sans-serif;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used 
================================================================================================= */
a{text-decoration:none}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

/* Header Used 
================================================================================================= */
.header{border-bottom: #ffdfda solid 1px;height:86px;background: #fff; }
.logo{float: left;width: 128px;height: 60px;margin: 14px 0 0 24px;_display: inline;background: url('../img/logo.png') no-repeat;}
.nav{float: right;margin: 48px 60px 0 0;_display: inline;}
.nav a{color:#f5afa5;font-size: 15px;margin: 0 26px;float: left;}
.nav a:hover,
.nav a.on{color:#ef8575;border-bottom: #ef896f solid 1px;}

/* Footer Used 
================================================================================================= */
.footer{height: 50px;background: #fff;}
    .ft_link{float: left;width: 238px;height: 32px;margin: 8px 0 0 50px;_display:inline}
        .ft_link a{float: left;margin: 0 22px 0 0;_display:inline;width: 32px;height: 32px;background: url('../img/footer.png') no-repeat 0 0;}
        .ft_link .ft_link2{background-position:-54px 0}
        .ft_link .ft_link3{background-position:-108px 0}
    .ft_guanwang{float: right;background: url('../img/footer2.png') no-repeat;width: 111px;height: 25px;margin: 12px 28px 0 0;_display:inline}

/* Double Used 
================================================================================================= */
.double{position: relative;height: 1960px}
.double_tit{background: url('../img/double_tit.png') no-repeat;width: 552px;height: 64px;position: absolute;top: 50px;left:50%;margin: 0 0 0 -276px}
.double_tips{background: url('../img/double_tips.png') no-repeat;width: 876px;height: 58px;position: absolute;top: 150px;left:50%;margin: 0 0 0 -438px}
.double_box{background:#fff;width: 756px;height: 648px;position: absolute;top: 266px;left:50%;margin: 0 0 0 -378px;padding:20px 0;}
    .double_img{background: url('../img/double_img.jpg') no-repeat;height:396px; width:706px;margin: 0 auto}
    .double_texing{background: url('../img/double_texing.jpg') no-repeat;width: 692px;height: 215px;margin: 36px auto 0}
.double_modtit{border-bottom: #ffd6cc solid 1px;width:900px;height: 42px;background: url('../img/double_modtit1.png') no-repeat left center;position: absolute;top:1030px;left:50%;margin: 0 0 0 -450px}
.double_modtips1{background: url('../img/double_modtips1.jpg') no-repeat;width: 215px;height: 235px;position: absolute;top: 1190px;left:50%;margin: 0 0 0 -440px}
.double_modtips2{background: url('../img/double_modtips2.jpg') no-repeat;width: 215px;height: 235px;position: absolute;top: 1190px;left:50%;margin: 0 0 0 188px}
.double_modpho{background: url('../img/double_modpho.png') no-repeat;width: 413px;height: 430px;position: absolute;top: 1114px;left:50%;margin: 0 0 0 -225px}
.double_modtit2{background: url('../img/double_modtit2.png') no-repeat left center;position: absolute;top:1570px;left:50%;margin: 0 0 0 -450px}
.double_modpho2{background: url('../img/double_modpho2.png') no-repeat;width: 170px;height: 170px;top:1646px;position: absolute;left: 50%;margin: 0 0 0 -440px}
.double_modtips3{background: url('../img/double_modtips3.png') no-repeat;width: 587px;height: 77px;top:1700px;position: absolute;left: 50%;margin: 0 0 0 -218px}

/* Double Used 
================================================================================================= */
.history{position: relative;height: 1455px;background: url('../img/history_bg.jpg') no-repeat;}
.history_tit{background: url('../img/history_tit.png') no-repeat;width: 552px;height: 64px;position: absolute;top: 58px;left:50%;margin: 0 0 0 -68px}
.history_g1{background: url('../img/history_g1.png') no-repeat;width: 95px;height: 95px;position: absolute;top: 164px;left:50%;margin: 0 0 0 -45px}
.history_g2{background: url('../img/history_g2.png') no-repeat;width: 95px;height: 95px;position: absolute;top: 270px;left:50%;margin: 0 0 0 -45px}
.history_g3{background: url('../img/history_g3.png') no-repeat;width: 95px;height: 95px;position: absolute;top: 378px;left:50%;margin: 0 0 0 -45px}
.history_gtxt1{background: url('../img/history_gtxt1.png') no-repeat;width: 384px;height: 35px;position: absolute;top: 192px;left:50%;margin: 0 0 0 60px}
.history_gtxt2{background: url('../img/history_gtxt2.png') no-repeat;width: 414px;height: 35px;position: absolute;top: 300px;left:50%;margin: 0 0 0 60px}
.history_gtxt3{background: url('../img/history_gtxt3.png') no-repeat;width: 392px;height: 35px;position: absolute;top: 408px;left:50%;margin: 0 0 0 60px}
.history_img{background: url('../img/history_img.jpg') no-repeat;width:460px;height:570px;position: absolute;top: 120px;left:50%;margin: 0 0 0 -558px}
.history_line{border-top: #ffd6cc solid 1px;width: 598px;height: 10px;position: absolute;top: 508px;left:50%;margin: 0 0 0 -66px}
.history_modtit{background: url('../img/history_modtit.png') no-repeat;width:242px;height:35px;position: absolute;top: 550px;left:50%;margin: 0 0 0 -68px}
.history_modtips1{background: url('../img/history_modtips1.png') no-repeat;width:342px;height:106px;position: absolute;top: 602px;left:50%;margin: 0 0 0 -68px}
.history_modpho1{background: url('../img/history_modpho1.png') no-repeat;width:200px;height:200px;position: absolute;top: 530px;left:50%;margin: 0 0 0 314px}
.history_line2{border-top: #ffd6cc solid 1px;width:1060px;height: 10px;position: absolute;top: 752px;left:50%;margin: 0 0 0 -528px}
.history_modtit2{background: url('../img/history_modtit2.png') no-repeat;width:184px;height:35px;position: absolute;top: 876px;left:50%;margin: 0 0 0 -462px}
.history_modtips2{background: url('../img/history_modtips2.png') no-repeat;width:365px;height:79px;position: absolute;top: 928px;left:50%;margin: 0 0 0 -462px}
.history_v{width: 473px;height:263px;position: absolute;top: 805px;left:50%;margin: 0 0 0 -45px;background: #fff;border: #ebdcd8 solid 1px;padding:5px;}
.history_line3{background: url('../img/history_line.png') repeat-x;width: 1060px;height: 10px;position: absolute;top: 1220px;left:50%;margin: 0 0 0 -528px}
.history_1743{background: url('../img/history_1743.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 -472px}
.history_txt1743{background: url('../img/history_txt1743.png') no-repeat;width:150px;height:50px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 -468px}
.history_1871{background: url('../img/history_1871.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 -206px}
.history_txt1871{background: url('../img/history_txt1871.png') no-repeat;width:200px;height:50px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 -234px}
.history_1874{background: url('../img/history_1874.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 60px}
.history_txt1874{background: url('../img/history_txt1874.png') no-repeat;width:150px;height:70px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 65px}
.history_1990{background: url('../img/history_1990.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 326px}
.history_txt1990{background: url('../img/history_txt1990.png') no-repeat;width:90px;height:50px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 356px}

/* Testimonial Used 
================================================================================================= */
.testimo{background: url('../img/testimo_bg.jpg') no-repeat right;height: 862px;position: relative;}
.testimo_tit{background: url('../img/testimo_tit.png') no-repeat;width: 552px;height: 64px;position: absolute;top: 52px;left:50%;margin:0 0 0 -496px;}
.testimo_subtit{background: url('../img/testimo_subtit.png') no-repeat;width: 292px;height: 26px;position: absolute;top: 120px;left:50%;margin:0 0 0 -366px;}
.testimo_mess{background: url('../img/testimo_mess.png') no-repeat;width: 476px;height: 84px;position: absolute;top: 175px;left:50%;margin:0 0 0 -456px;}
.testimo_name{background: url('../img/testimo_name.jpg') no-repeat;width: 135px;height: 82px;position: absolute;top: 240px;left:50%;margin:0 0 0 10px;}
.testimo_v{background: #fff;border: #ebdcd8 solid 1px;width: 460px;height: 255px;position: absolute;top: 300px;left:50%;margin:0 0 0 -452px;padding: 5px;}
.testimo_morning{background: url('../img/testimo_morning.png') no-repeat;width: 60px;height: 60px;position: absolute;top: 600px;left:50%;margin:0 0 0 -448px;}
.testimo_morntit{background: url('../img/testimo_morntit.png') no-repeat;width: 70px;height: 22px;position: absolute;top: 600px;left:50%;margin:0 0 0 -365px;}
.testimo_morntip{background: url('../img/testimo_morntip.png') no-repeat;width: 340px;height: 32px;position: absolute;top: 628px;left:50%;margin:0 0 0 -365px;}

.testimo_noon{background: url('../img/testimo_noon.png') no-repeat;width: 60px;height: 60px;position: absolute;top: 676px;left:50%;margin:0 0 0 -448px;}
.testimo_noontit{background: url('../img/testimo_noontit.png') no-repeat;width: 70px;height: 22px;position: absolute;top: 676px;left:50%;margin:0 0 0 -365px;}
.testimo_noontip{background: url('../img/testimo_noontip.png') no-repeat;width: 340px;height: 32px;position: absolute;top: 704px;left:50%;margin:0 0 0 -365px;}

.testimo_night{background: url('../img/testimo_night.png') no-repeat;width: 60px;height: 60px;position: absolute;top: 754px;left:50%;margin:0 0 0 -448px;}
.testimo_nighttit{background: url('../img/testimo_nighttit.png') no-repeat;width: 70px;height: 22px;position: absolute;top: 754px;left:50%;margin:0 0 0 -365px;}
.testimo_nighttip{background: url('../img/testimo_nighttip.png') no-repeat;width: 342px;height: 45px;position: absolute;top: 780px;left:50%;margin:0 0 0 -365px;}



.testimo_hsy{background: url('../img/testimo_hsy.png') no-repeat right;width: 546px;height: 730px;position: absolute;right: 0;bottom: 0;}





