@charset "utf-8";
/*
 * avene 2013 10 
 */

/* Reset
================================================================================================= */
body{color:#555;background:#ffebe6;font-size:12px;line-height:1.666em;}
body{font-family:"Microsoft YaHei",arial,SimHei,sans-serif;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used 
================================================================================================= */
a{text-decoration:none}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

/* Header Used 
================================================================================================= */
.header{border-bottom: #ffdfda solid 1px;height:86px;background: #fff;position: fixed;z-index:10;width:100%;}
.logo{float: left;width: 128px;height: 60px;margin: 14px 0 0 24px;_display: inline;background: url('../img/logo.png') no-repeat;}
.nav{float: right;margin: 48px 60px 0 0;_display: inline;}
.nav a{color:#f5afa5;font-size: 15px;margin: 0 26px;float: left;}
.nav a:hover,
.nav a.on{color:#ef8575;border-bottom: #ef896f solid 1px;}
body,html,.header,.page {min-width:960px;}

/* Footer Used 
================================================================================================= */
.footer{height: 50px;background: #fff;position: fixed;bottom:0;width:100%;z-index:100;}
    .ft_link{float: left;width: 238px;height: 32px;margin: 8px 0 0 50px;_display:inline}
        .ft_link a{float: left;margin: 0 22px 0 0;_display:inline;width: 32px;height: 32px;background: url('../img/footer.png') no-repeat 0 0;}
        .ft_link .ft_link2{background-position:-54px 0}
        .ft_link .ft_link3{background-position:-108px 0}
    .ft_guanwang{float: right;background: url('../img/footer2.png') no-repeat;width: 111px;height: 25px;margin: 12px 28px 0 0;_display:inline}

/* Double Used 
================================================================================================= */
.double{position: relative;height: 1960px}
.double_tit{background: url('../img/double_tit.png') no-repeat;width: 552px;height: 64px;position: absolute;top: 50px;left:50%;margin: 0 0 0 -276px}
.double_tips{background: url('../img/double_tips.png') no-repeat;width: 876px;height: 58px;position: absolute;top: 150px;left:50%;margin: 0 0 0 -438px}
.double_box{background:#fff;width: 756px;height: 648px;position: absolute;top: 266px;left:50%;margin: 0 0 0 -378px;padding:20px 0;}
    .double_img{background: url('../img/double_img.jpg') no-repeat;height:396px; width:706px;margin: 0 auto}
    .double_texing{background: url('../img/double_texing.jpg') no-repeat;width: 692px;height: 215px;margin: 36px auto 0}
.double_modtit{border-bottom: #ffd6cc solid 1px;width:900px;height: 42px;background: url('../img/double_modtit1.png') no-repeat left center;position: absolute;top:1030px;left:50%;margin: 0 0 0 -450px}
.double_modtips1{background: url('../img/double_modtips1.jpg') no-repeat;width: 215px;height: 235px;position: absolute;top: 1190px;left:50%;margin: 0 0 0 -440px}
.double_modtips2{background: url('../img/double_modtips2.jpg') no-repeat;width: 215px;height: 235px;position: absolute;top: 1190px;left:50%;margin: 0 0 0 188px}
.double_modpho{background: url('../img/double_modpho.png') no-repeat;width: 413px;height: 430px;position: absolute;top: 1114px;left:50%;margin: 0 0 0 -225px}
.double_modtit2{background: url('../img/double_modtit2.png') no-repeat left center;position: absolute;top:1570px;left:50%;margin: 0 0 0 -450px}
.double_modpho2{background: url('../img/double_modpho2.png') no-repeat;width: 170px;height: 170px;top:1646px;position: absolute;left: 50%;margin: 0 0 0 -440px}
.double_modtips3{background: url('../img/double_modtips3.png') no-repeat;width: 587px;height: 77px;top:1700px;position: absolute;left: 50%;margin: 0 0 0 -218px}

/* Double Used 
================================================================================================= */
.history{position: relative;height: 1455px;background: url('../img/history_bg.jpg') no-repeat;}
.history_tit{background: url('../img/history_tit.png') no-repeat;width: 552px;height: 64px;position: absolute;top: 58px;left:50%;margin: 0 0 0 -68px}
.history_g1{background: url('../img/history_g1.png') no-repeat;width: 95px;height: 95px;position: absolute;top: 164px;left:50%;margin: 0 0 0 -45px}
.history_g2{background: url('../img/history_g2.png') no-repeat;width: 95px;height: 95px;position: absolute;top: 270px;left:50%;margin: 0 0 0 -45px}
.history_g3{background: url('../img/history_g3.png') no-repeat;width: 95px;height: 95px;position: absolute;top: 378px;left:50%;margin: 0 0 0 -45px}
.history_gtxt1{background: url('../img/history_gtxt1.png') no-repeat;width: 384px;height: 35px;position: absolute;top: 192px;left:50%;margin: 0 0 0 60px}
.history_gtxt2{background: url('../img/history_gtxt2.png') no-repeat;width: 414px;height: 35px;position: absolute;top: 300px;left:50%;margin: 0 0 0 60px}
.history_gtxt3{background: url('../img/history_gtxt3.png') no-repeat;width: 392px;height: 35px;position: absolute;top: 408px;left:50%;margin: 0 0 0 60px}
.history_img{background: url('../img/history_img.jpg') no-repeat;width:460px;height:570px;position: absolute;top: 120px;left:50%;margin: 0 0 0 -558px}
.history_line{border-top: #ffd6cc solid 1px;width: 598px;height: 10px;position: absolute;top: 508px;left:50%;margin: 0 0 0 -66px}
.history_modtit{background: url('../img/history_modtit.png') no-repeat;width:242px;height:35px;position: absolute;top: 550px;left:50%;margin: 0 0 0 -68px}
.history_modtips1{background: url('../img/history_modtips1.png') no-repeat;width:342px;height:106px;position: absolute;top: 602px;left:50%;margin: 0 0 0 -68px}
.history_modpho1{background: url('../img/history_modpho1.png') no-repeat;width:200px;height:200px;position: absolute;top: 530px;left:50%;margin: 0 0 0 314px}
.history_line2{border-top: #ffd6cc solid 1px;width:1060px;height: 10px;position: absolute;top: 752px;left:50%;margin: 0 0 0 -528px}
.history_modtit2{background: url('../img/history_modtit2.png') no-repeat;width:184px;height:35px;position: absolute;top: 876px;left:50%;margin: 0 0 0 -462px}
.history_modtips2{background: url('../img/history_modtips2.png') no-repeat;width:365px;height:79px;position: absolute;top: 928px;left:50%;margin: 0 0 0 -462px}
.history_v{width: 473px;height:263px;position: absolute;top: 805px;left:50%;margin: 0 0 0 -45px;background: #fff;border: #ebdcd8 solid 1px;padding:5px;}
.history_line3{background: url('../img/history_line.png') repeat-x;width: 1060px;height: 10px;position: absolute;top: 1220px;left:50%;margin: 0 0 0 -528px}
.history_1743{background: url('../img/history_1743.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 -472px}
.history_txt1743{background: url('../img/history_txt1743.png') no-repeat;width:150px;height:50px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 -468px}
.history_1871{background: url('../img/history_1871.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 -206px}
.history_txt1871{background: url('../img/history_txt1871.png') no-repeat;width:200px;height:50px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 -234px}
.history_1874{background: url('../img/history_1874.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 60px}
.history_txt1874{background: url('../img/history_txt1874.png') no-repeat;width:150px;height:70px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 65px}
.history_1990{background: url('../img/history_1990.png') no-repeat;width:150px;height:150px;position: absolute;top: 1146px;left:50%;margin: 0 0 0 326px}
.history_txt1990{background: url('../img/history_txt1990.png') no-repeat;width:90px;height:50px;position: absolute;top: 1322px;left:50%;margin: 0 0 0 356px}

/* Testimonial Used 
================================================================================================= */
.testimo{background: url('../img/testimo_bg.jpg') no-repeat right;height: 862px;position: relative;}
.testimo_tit{background: url('../img/testimo_tit.png') no-repeat;width: 552px;height: 64px;position: absolute;top: 52px;left:50%;margin:0 0 0 -496px;}
.testimo_subtit{background: url('../img/testimo_subtit.png') no-repeat;width: 292px;height: 26px;position: absolute;top: 120px;left:50%;margin:0 0 0 -366px;}
.testimo_mess{background: url('../img/testimo_mess.png') no-repeat;width: 476px;height: 84px;position: absolute;top: 175px;left:50%;margin:0 0 0 -456px;}
.testimo_name{background: url('../img/testimo_name.jpg') no-repeat;width: 135px;height: 82px;position: absolute;top: 240px;left:50%;margin:0 0 0 10px;}
.testimo_v{background: #fff;border: #ebdcd8 solid 1px;width: 460px;height: 255px;position: absolute;top: 300px;left:50%;margin:0 0 0 -452px;padding: 5px;}
.testimo_morning{background: url('../img/testimo_morning.png') no-repeat;width: 60px;height: 60px;position: absolute;top: 600px;left:50%;margin:0 0 0 -448px;}
.testimo_morntit{background: url('../img/testimo_morntit.png') no-repeat;width: 70px;height: 22px;position: absolute;top: 600px;left:50%;margin:0 0 0 -365px;}
.testimo_morntip{background: url('../img/testimo_morntip.png') no-repeat;width: 340px;height: 32px;position: absolute;top: 628px;left:50%;margin:0 0 0 -365px;}

.testimo_noon{background: url('../img/testimo_noon.png') no-repeat;width: 60px;height: 60px;position: absolute;top: 676px;left:50%;margin:0 0 0 -448px;}
.testimo_noontit{background: url('../img/testimo_noontit.png') no-repeat;width: 70px;height: 22px;position: absolute;top: 676px;left:50%;margin:0 0 0 -365px;}
.testimo_noontip{background: url('../img/testimo_noontip.png') no-repeat;width: 340px;height: 32px;position: absolute;top: 704px;left:50%;margin:0 0 0 -365px;}

.testimo_night{background: url('../img/testimo_night.png') no-repeat;width: 60px;height: 60px;position: absolute;top: 754px;left:50%;margin:0 0 0 -448px;}
.testimo_nighttit{background: url('../img/testimo_nighttit.png') no-repeat;width: 70px;height: 22px;position: absolute;top: 754px;left:50%;margin:0 0 0 -365px;}
.testimo_nighttip{background: url('../img/testimo_nighttip.png') no-repeat;width: 342px;height: 45px;position: absolute;top: 780px;left:50%;margin:0 0 0 -365px;}
.testimo_hsy{background: url('../img/testimo_hsy.png') no-repeat right;width: 546px;height: 730px;position: absolute;right: 0;bottom: 0;}



/* ETA
================================================================================================= */
.section_pixel {position: fixed;background:url(../img/section_pixel.png) repeat;width:100%;height:100%;top:0;left:0;}
.section {z-index:3;position:fixed;width:100%;height:100%;top:0;}
.section_bg {height:100%;position: fixed;width:100%;}
.section1 {z-index:7;}
.section2 {z-index:5;}
.section3 {z-index:6;}
.section4 {z-index:3;}
.section5 {z-index:4;}
.section7 {z-index:4;}
.section * {z-index:5;}

.section1_title {position: absolute;top: 150px;left:50%;margin:0 0 0 -106px;}
.section1_ball {position: fixed;text-align: center;}
.section1_ball .ball {position: relative;}
.section1_ball1 {top: 45%;left:50%;margin:0 0 0 -496px;}
.section1_ball2 {top: 45%;left:50%;margin:0 0 0 -326px;}
.section1_ball3 {top: 45%;left:50%;margin:0 0 0 226px;}
.section1_ball4 {top: 45%;left:50%;margin:0 0 0 396px;}
.section1_ball5 .ball {position: fixed;top:50%;left:50%;background:url(../img/section1_ball5.png) no-repeat;margin:-73px 0 0 -98px;width:207px;height:194px;-webkit-transform-origin: center center;-moz-transform-origin : center center;-ms-transform-origin: center center;-o-transform-origin: center center;transform-origin: center center;}
.section1_ball5 .ball_t {position: fixed;top:50%;left:50%;margin:130px 0 0 -68px;}
.section1_arrow {background: url(../img/section1_arrow.png) no-repeat;width:59px;height:16px;position: absolute;top:40%;left:50%;margin:250px 0 0 -28px;}
.ball_round {position: fixed;top: 45%;left:50%;width:110px;height:110px;background: #f5afa5;-webkit-border-radius: 100px;border-radius: 100px;}
.section1_ball1 .ball_round {margin:0 0 0 -496px;}
.section1_ball2 .ball_round {margin:0 0 0 -317px;}
.section1_ball3 .ball_round {margin:0 0 0 226px;}
.section1_ball4 .ball_round {margin:0 0 0 396px;}
.ball_slider img {display: none;position: absolute;}
.ball_slider {position: fixed;left:50%;top:50%;margin:-69px 0 0 -75px;}

.section2_txt {position: fixed;bottom:150px;left:100px;}
.section2_txt2 {position: fixed;bottom:150px;right:100px;z-index:6;}
.section2_icon, .section2_drop {position: absolute;top:50%;left:50%;}
.drop_wrap {position: absolute;top:50%;left:50%;width:400px;height:300px;margin:-155px 0 0 -229px;}
.section2_drop1 {margin:47px 0 0 -140px;}
.section2_drop2 {margin:-27px 0 0 170px;}
.section2_drop3 {margin:83px 0 0 127px;}
.section2_drop3 {margin:83px 0 0 153px;}
.section2_drop4 {margin:-44px 0 0 -157px;}
.section2_drop5 {margin:-78px 0 0 -65px;}
.section2_drop6 {margin:-23px 0 0 -55px;}
.section2_drop7 {margin:100px 0 0 -34px;}
.section2_drop8 {margin:-56px 0 0 106px;}
.section2_drop9 {margin:32px 0 0 -50px;}
.section2_drop10 {margin:45px 0 0 105px;}
.section2_drop11 {margin:105px 0 0 -117px;}
.section2_drop12 {margin:135px 0 0 62px;}
.section2_icon_na {margin:-10px 0 0 -136px;}
.section2_icon_c {margin:65px 0 0 -95px;}
.section2_icon_k {margin:85px 0 0 -25px;}
.section2_icon_i {margin:65px 0 0 65px;}
.section2_icon_o {margin:-20px 0 0 95px;}

.section3_white {background: #fff;position: fixed;top:50%;left:0;height:473px;width:100%;margin:-235px 0 0;}
.section3_map {position: absolute;width:660px;height: 376px;background: url(../img/section3_map.jpg) no-repeat;left:50%;margin:50px 0 0 -520px;}
.section3_txt {position: absolute;left:50%;margin:170px 0 0 200px;}
.section3_map_t1 {position: absolute;top:178px;left:320px;}
.section3_map_t2 {position: absolute;top:168px;left:17px;}
.section3_map_t3 {position: absolute;top:253px;left:407px;}
.section3_map_l1 {position: absolute;top:82px;left:10px;height:82px;overflow: hidden;background: url(../img/section3_map_line1.png) no-repeat;}
.section3_map_l2 {position: absolute;bottom:127px;right:205px;height:90px;overflow: hidden;background: url(../img/section3_map_line2.png) no-repeat right bottom;}

.section4_txt {position: fixed;right:100px;bottom:100px;}
.section4_ball {position: absolute;top:50%;left:50%;margin:-64px 0 0 -62px;}

.section5_white {background: #fff;position: fixed;top:50%;left:0;height:474px;width:100%;margin:-236px 0 0;}
.section5_map {position: absolute;left:50%;margin:40px 0 0 -110px;}
.section5_txt {position: absolute;left:50%;margin:150px 0 0 -500px;}

.section6_bg {overflow: hidden;}
.section6_txt1 {position: fixed;top:150px;left:200px;}
.section6_txt2 {position: fixed;bottom:150px;right:100px;}
.section6_drop_wrap {position:absolute;width:100%;height:100%;}
.section6_drop_wrap_overflow {position:absolute;top:0;left:0;width:100%;overflow:hidden;}

.section7_rain,.section7_water {overflow: hidden;}


.section7_txt {position: fixed;bottom:150px;left:100px;}
.section7_white {background: #fff;position: fixed;top:53%;left:0;height:527px;width:100%;margin:-247px 0 0;}
.section7_pic {position:relative;background: url(../img/section7_pic.jpg) no-repeat;width:1020px;height:290px;margin:50px auto 0 auto;}
.section7_pic_t1 {background:url(../img/section7_pic_t1.png) no-repeat top right;width:447px;height:120px;position: absolute;top:117px;right:536px;}
.section7_pic_t2 {background:url(../img/section7_pic_t2.png) no-repeat top left;width:509px;height:120px;position: absolute;top:117px;left:539px;}
.section7_txt2 {margin:40px auto 0 auto;width:1020px;}
.section7_drop {position: absolute;top:50%;left:50%;margin:-75px 0 0 -65px;}

.section8_txt {position: absolute;bottom:100px;right:100px;}
.section8_drop_wrap {position: absolute;width:800px;height:100%;left:50%;margin-left:-400px;}
.section8_drop1 {position: absolute;top:100px;left:40%;}
.section8_drop2 {position: absolute;bottom:10px;left:20%;}
.section8_icon1 {position: absolute;top:28%;left:52%;}
.section8_icon2 {position: absolute;bottom:14%;left:33%;}
.section8_icon3 {position: absolute;top:18%;left:51%;}
.section8_icon4 {position: absolute;bottom:5%;left:18%;}

.section9_txt {position: absolute;bottom:100px;left:100px;}
.section9_drop {position: absolute;left:50%;margin-left:-75px;}

.section10_txt1 {position: absolute;bottom:50px;left:100px;}
.section10_txt2 {position: absolute;bottom:50px;left:100px;}


.section1_bg {z-index:3;background-image:url(../img/section1_bg.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section2_bg {z-index:3;background-image:url(../img/section2_bg.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section2_bg2 {z-index:5;background-image:url(../img/section2_bg2.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section2_cloud {z-index:5;background-image:url(../img/section2_cloud.png);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section4_bg {z-index:4;background-image:url(../img/section4_bg.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section4_cloud {z-index:4;background-image:url(../img/section4_cloud.png);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section6_bg {z-index:4;background-image:url(../img/section6_bg.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section7_bg {z-index:4;background-image:url(../img/section7_bg.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;background-position:90% top;}
.section7_rain {z-index:4;background-image:url(../img/section7_rain.png);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;background-position:90% top;}
.section7_water {z-index:4;background-image:url(../img/section7_water.png);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;background-position:90% top;}
.section8_bg {z-index:4;background-image:url(../img/section8_bg.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;background-position:0% top;}

.section9_bg {z-index:4;background-image:url(../img/video1/1.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg2 {z-index:4;background-image:url(../img/video1/1.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg3 {z-index:4;background-image:url(../img/video1/2.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg4 {z-index:4;background-image:url(../img/video1/3.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg5 {z-index:4;background-image:url(../img/video1/4.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg6 {z-index:4;background-image:url(../img/video1/5.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg7 {z-index:4;background-image:url(../img/video1/6.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg8 {z-index:4;background-image:url(../img/video1/7.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg9 {z-index:4;background-image:url(../img/video1/8.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg10 {z-index:4;background-image:url(../img/video1/9.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg11 {z-index:4;background-image:url(../img/video1/10.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg12 {z-index:4;background-image:url(../img/video1/11.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg13 {z-index:4;background-image:url(../img/video1/12.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg14 {z-index:4;background-image:url(../img/video1/13.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg15 {z-index:4;background-image:url(../img/video1/14.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg16 {z-index:4;background-image:url(../img/video1/15.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg17 {z-index:4;background-image:url(../img/video1/16.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg18 {z-index:4;background-image:url(../img/video1/17.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg19 {z-index:4;background-image:url(../img/video1/18.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg20 {z-index:4;background-image:url(../img/video1/19.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg21 {z-index:4;background-image:url(../img/video1/20.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg22 {z-index:4;background-image:url(../img/video1/21.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg23 {z-index:4;background-image:url(../img/video1/22.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg24 {z-index:4;background-image:url(../img/video1/23.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg25 {z-index:4;background-image:url(../img/video1/24.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg26 {z-index:4;background-image:url(../img/video1/25.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg27 {z-index:4;background-image:url(../img/video1/26.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg28 {z-index:4;background-image:url(../img/video1/27.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg29 {z-index:4;background-image:url(../img/video1/28.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}
.section9_bg30 {z-index:4;background-image:url(../img/video1/29.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;}

.section10_bg {position:fixed;right:0;z-index:4;background-image:url(../img/section10_bg.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;background-position:right top;}
.section10_bg2 {position:fixed;right:0;z-index:4;background-image:url(../img/section10_bg2.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size: cover;background-position:right top;}