@charset "utf-8";
/*
 * avene mobile 2014 01
 */

/* Reset
================================================================================================= */
body{color:#555;background:#fff;font-size:12px;line-height:1.666em;}
body{font-family:"Microsoft YaHei",arial,SimHei,sans-serif;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
a{text-decoration:none}
p {margin:0 0 15px 0;}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
.column{width:100%;margin:0 auto;position: relative;}
/**/
    html,body {width:640px;}
    .loading-wrap {display:none;}
    .dis_mobile{display: block;}
    .page{min-width: 0;}
    .column{width: 100%}

/* header
================================================================================================= */
    .header{height: 100px;padding-top: 15px;position: relative;z-index:999999;background: #fff;}
    .logo{background:url('../imgMobile/logo.png') no-repeat center;width: 175px;height: 80px;margin:0 auto;display: block;}
    .navbtn{background: url('../imgMobile/navbtn.png') no-repeat center;display: block;width: 48px;height: 40px;position: absolute;right: 35px;top:22px;cursor: pointer;}
    .nav{background:#fce7e2;width:100%;bottom: auto;top: 100px;z-index: 50;left:0px;position: absolute;right:0;}
    .nav .nav1, .nav .nav2, .nav .nav3, .nav .nav4, .nav .nav5, .nav .nav6,
    .nav a{margin:0;display: block;float: none;height: 80px;line-height:80px;border-bottom: #f7c1b4 solid 1px;background: none;width: 100%;text-align: center;font-size: 36px;color:#ef896f}
    .nav .nav6{border: 0}
    #home .nav1,
    #repair .nav2,
    #mask .nav3,
    #scheme .nav4,
    #share .nav5,
    #knowledge .nav6,
    .nav .nav1.active, .nav .nav1:hover,
    .nav .nav2.active, .nav .nav2:hover,
    .nav .nav3.active, .nav .nav3:hover,
    .nav .nav4.active, .nav .nav4:hover,
    .nav .nav5.active, .nav .nav5:hover,
    .nav .nav6.active, .nav .nav6:hover {background: none;width: 100%;}
    .navicon{width: 0;height: 0;position: absolute;right:50px;top:-24px;content:"";border: transparent 12px solid;border-bottom: #fce7e2 12px solid;display: none}

/* Footer
================================================================================================= */
.ftnav{background: #ef8575;height: 198px;border-bottom:#ffd4ca solid 1px;}
	.ftnav a{float:left;width:156px;text-align: center;margin-top:26px;}
.ftbt{background: #fff;height: 90px;padding:0 0 0 80px;}
	.ftbt a{float:left;margin:14px 44px;}

/* Page 1 
================================================================================================= */
.page1{height:3484px}
.pagetit1{background: url('../imgMobile/page1/pagetit1.png') no-repeat;height: 91px;width:640px;position: absolute;top:115px;}
.page1infro{font-size:28px;color:#8e8e8e;text-align: center;line-height: 35px;padding:0 30px ;position: absolute;top:265px;}
	.page1infro span{color:#ef8575;}
.page1double{background: url('../imgMobile/page1/page1double.png') no-repeat;height: 64px;width:435px;margin:0 auto;position: absolute;top:584px;left:50%;margin-left:-218px;}
.page1probg{background: url('../imgMobile/page1/page1probg.jpg') repeat-x;height: 574px;width:640px;position: absolute;top: 686px}
.page1pro{background: url('../imgMobile/page1/page1pro.jpg') no-repeat;height: 574px;width:640px;position: absolute;top: 686px}
.page1dot{background: url('../imgMobile/page1/page1dot.png') repeat-y;height: 445px;width:9px;position: absolute;top: 1230px;left:50%;margin: 0 0 0 -5px}
.trait1tit{background: url('../imgMobile/page1/trait1.png') no-repeat center;height: 45px;width:230px;position: absolute;top: 1295px;left:50%;margin: 0 0 0 -286px}
.trait1txt{font-size:28px;position: absolute;left:50%;margin: 0 0 0 -286px;width:230px;text-align: center;color:#ef8575;line-height: 34px}
.trait1txt1{color:#b5b5b5;top: 1368px;}
.trait1txt2{top: 1468px;}
.trait1txt3{top: 1536px;}
.trait1txt4{top: 1602px;}
.trait2tit{background: url('../imgMobile/page1/trait2.png') no-repeat center;height: 45px;width:230px;position: absolute;top: 1295px;left:50%;margin: 0 0 0 32px}
.trait2txt{font-size:28px;position: absolute;left:50%;margin: 0 0 0 32px;width:260px;text-align: center;color:#ef8575;line-height: 34px}
.trait2txt1{color:#b5b5b5;top: 1368px;}
.trait2txt2{top: 1500px;}
.page1line{background: #ffd4ca url('../imgMobile/page1/page1line.png') no-repeat center;height: 40px;width: 100%;position: absolute;top: 1666px}
.page1line2{top:2968px;height: 52px;border-bottom: #fabcb1 solid 1px;}
.page1line3{top:2968px;height: 52px;border-bottom: #fabcb1 solid 1px;background: #ffd4ca;top:3546px;}
.page1pho{background: url('../imgMobile/page1/page1pho.jpg') no-repeat center;height: 466px;width:640px;position: absolute;top: 1750px;}
.trait3tit{background: url('../imgMobile/page1/trait3.png') no-repeat center;height: 55px;width:160px;position: absolute;top: 2260px;left:50%;margin: 0 0 0 -278px}
.trait3txt{font-size:28px;position: absolute;padding:30px;color:#b5b5b5;line-height: 34px;top:2330px;}
	.trait3txt span{color:#ef8575;}
.trait4tit{background: url('../imgMobile/page1/trait4.png') no-repeat center;height: 64px;width:242px;position: absolute;top: 3114px;left:50%;margin: 0 0 0 -278px}
.trait4pho{background: url('../imgMobile/page1/trait4pho.png') no-repeat center;height: 172px;width:172px;position: absolute;top: 3062px;left:50%;margin: 0 0 0 48px}
.trait4txt{font-size:28px;position: absolute;padding:30px;color:#b5b5b5;line-height: 34px;top:3280px;}
	.trait4txt span{color:#ef8575;}


/* Page 2
================================================================================================= */
.page2{height:3972px}
.pagetit2{background: url('../imgMobile/page2/pagetit2.png') no-repeat;height: 92px;width:640px;position: absolute;top:115px;}
.page2pro{background: url('../imgMobile/page2/page2pro.jpg') no-repeat;height: 676px;width:640px;position: absolute;top:207px;border-bottom:#ffd4ca solid 1px;}
.page2item{height:212px;border-bottom:#ffd4ca solid 1px;background: url('../imgMobile/page2/page2item.png') repeat-x;position: absolute;width:100%;}
.page2item1{top:884px;}
    .page2item1icon{background: url('../imgMobile/page2/page2item1.png') no-repeat;height: 126px;width:120px;position: absolute;top:45px;left:28px;}
.page2item2{top:1097px;}
    .page2item2icon{background: url('../imgMobile/page2/page2item2.png') no-repeat;height: 126px;width:120px;position: absolute;top:45px;left:28px;}
.page2item3{top:1310px;}
    .page2item3icon{background: url('../imgMobile/page2/page2item3.png') no-repeat;height: 126px;width:120px;position: absolute;top:45px;left:28px;}
    .page2itemtxt{font-size:28px;line-height: 34px;left:176px;position: absolute;top:42px;width:435px;color:#b4b4b4}
.his1tit{background: url('../imgMobile/page2/his1tit.png') no-repeat;height: 132px;width:192px;position: absolute;top:1594px;left:50%;}
.his1pho{background: url('../imgMobile/page2/his1pho.png') no-repeat;height: 200px;width:200px;position: absolute;top:1556px;left:50%;margin-left:-270px}
.his1txt{font-size:28px;line-height: 34px;position: absolute;color:#b4b4b4;top:1786px;padding: 0 45px 35px;border-bottom:#ffd6cc solid 1px;}
    .his1txt span{padding:10px 0 0;display: block;}
.his2tit{background: url('../imgMobile/page2/his2tit.png') no-repeat;height: 69px;width:286px;position: absolute;top:2050px;left:36px;}
.his2txt{font-size:28px;line-height: 34px;position: absolute;color:#b4b4b4;top:2152px;padding: 0 36px ;}
.his2video{padding:5px;border:#ebebeb solid 1px;width:572px;height:318px;position: absolute;top: 2360px;left:26px;}
.hisbox{background: #ffd6cd;height: 1360px;width:100%;position: absolute;top:2728px}
.hisboxdrop{background: url('../imgMobile/page2/hisboxdrop.png') repeat-y;height: 900px;width:8px;position: absolute;top:300px;right:150px;}
.historytit{width: 296px;height: 180px;position: absolute;left:28px;}
.history1tit{background: url('../imgMobile/page2/historytit1.png') no-repeat;top:108px;}
.history2tit{background: url('../imgMobile/page2/historytit2.png') no-repeat;top:422px;}
.history3tit{background: url('../imgMobile/page2/historytit3.png') no-repeat;top:740px;height:220px;}
.history4tit{background: url('../imgMobile/page2/historytit4.png') no-repeat;top:1090px;height:160px;}
.historypho{width:250px;height:250px;position: absolute;right: 28px;}
.history1pho{background: url('../imgMobile/page2/historypho1.png') no-repeat;top:66px; }
.history2pho{background: url('../imgMobile/page2/historypho2.png') no-repeat;top:386px; }
.history3pho{background: url('../imgMobile/page2/historypho3.png') no-repeat;top:716px; }
.history4pho{background: url('../imgMobile/page2/historypho4.png') no-repeat;top:1036px; }

/* Page 3
================================================================================================= */
.page3{height:2454px}
.pagetit3{background: url('../imgMobile/page3/pagetit3.png') no-repeat;height: 90px;width:640px;position: absolute;top:115px;}
.pagetit3_2{background: url('../imgMobile/page3/pagetit3_2.png') no-repeat;height: 128px;width:640px;position: absolute;top:205px;}
.hsyintro{background: url('../imgMobile/page3/hsyintro.png') no-repeat;height: 280px;width:560px;position: absolute;top:364px;left:36px;}
.hsyname{background: url('../imgMobile/page3/hsyname.png') no-repeat;height: 180px;width:288px;position: absolute;top:605px;left:38px;}
.hstphoto{background: url('../imgMobile/page3/hstphoto.jpg') no-repeat;height: 710px;width:640px;position: absolute;top:664px;}
.hstphotobg{background: url('../imgMobile/page3/hstphotobg.jpg') no-repeat;height: 710px;width:640px;position: absolute;top:664px;}
.hsyvideo{padding:5px;border:#ebebeb solid 1px;width:552px;height:307px;position: absolute;top: 1410px;left:38px;}
.hsybox{background: #ffd6cd url('../imgMobile/page3/hsyboxbg.jpg') no-repeat;height: 804px;width:640px;position: absolute;top: 1765px;}

.hsyitempho{width:100px;height: 100px;position: absolute;left:38px;}
.hsyitempho1{top:72px;background: url('../imgMobile/page3/hsyitempho1.png') no-repeat; }
.hsyitempho2{top:300px;background: url('../imgMobile/page3/hsyitempho2.png') no-repeat; }
.hsyitempho3{top:520px;background: url('../imgMobile/page3/hsyitempho3.png') no-repeat; }

.hsyitemtit{font-size: 36px;position: absolute;color:#f08e7f;left:162px;}
.hsyitemtit1{top:80px;}
.hsyitemtit2{top:308px;}
.hsyitemtit3{top:528px;}

.hsyitemtxt{font-size: 28px;position: absolute;color:#8d8d8d;left:162px;line-height: 34px;width:450px;}
.hsyitemtxt1{top:126px;}
.hsyitemtxt2{top:354px;}
.hsyitemtxt3{top:574px;}


/* Homepage
================================================================================================= */
.homepage_bg {background: url(../imgMobile/homepage/bg.jpg) no-repeat;background-size:cover;}
.homepage {height:700px;}
.homepagetit1 {background: url('../imgMobile/homepage/homepagetit1.png') no-repeat;height: 89px;width:640px;position: absolute;top:115px;}
.homepagewater {background:url(../imgMobile/homepage/water.png) no-repeat;position: absolute;width:372px;height:342px;top:260px;left:173px;}
.homepagetit2 {background: url('../imgMobile/homepage/homepagetit2.png') no-repeat;height: 52px;width:226px;position: absolute;top:660px;left:210px;}
.homeftnav {background: none;border-top:1px solid #ffd4ca;}


/* Journey
================================================================================================= */
.journeyftnav {background:#f7f7f7;border-top:1px solid #dadada;border-bottom:1px solid #dadada;}
.journey h4 {color:#F08E7F;font-size:36px;margin:0 0 25px 0;font-weight: normal;}
.journey h5 {color:#F08E7F;font-size:28px;margin:25px 0 5px 0;font-weight: normal;}
.journey_txt{font-size: 28px;position: absolute;color:#8d8d8d;line-height:34px;}


.section1_tit {background: url('../imgMobile/journey/section1_tit.png') no-repeat;height: 89px;width:640px;position: absolute;}
.section1_txt {top:776px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}


.section2_icon, .section2_drop {position: absolute;top:350px;left:50%;}
.drop_wrap {position: absolute;top:160px;left:50%;width:400px;height:300px;margin:-155px 0 0 -229px;}
.section2_drop0 {margin:-54px 0 0 -87px;}
.section2_drop1 {margin:47px 0 0 -220px;}
.section2_drop2 {margin:-27px 0 0 230px;}
.section2_drop3 {margin:83px 0 0 127px;}
.section2_drop3 {margin:123px 0 0 183px;}
.section2_drop4 {margin:-60px 0 0 -163px;}
.section2_drop5 {margin:-121px 0 0 -108px;}
.section2_drop6 {margin:-48px 0 0 -91px;}
.section2_drop7 {margin:160px 0 0 -34px;}
.section2_drop8 {margin:-76px 0 0 156px;}
.section2_drop9 {margin:32px 0 0 -79px;}
.section2_drop10 {margin:45px 0 0 145px;}
.section2_drop11 {margin:133px 0 0 -148px;}
.section2_drop12 {margin:145px 0 0 62px;}
.section2_icon_na {margin:-10px 0 0 -191px;}
.section2_icon_na2 {margin:126px 0 0 -26px;}
.section2_icon_c {margin:-105px 0 0 45px;}
.section2_icon_k {margin:90px 0 0 -145px;}
.section2_icon_i {margin:95px 0 0 75px;}
.section2_icon_o {margin:-20px 0 0 95px;}
.section2_icon_s {margin:-130px 0 0 -95px;}

.section2_txt {top:806px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section3_txt {top:430px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section4_txt {top:730px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section5_txt {top:422px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section6_txt {top:682px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section7_txt {top:682px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section7_rain {position:absolute;top:160px;left:250px;}
.section7_water {position:absolute;top:320px;left:10px;}
.section7_height {position:absolute;top:270px;left:10px;}
.section8_txt {top:682px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section9_txt {top:682px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section10_txt {top:672px;padding:30px 35px;background:#fff;border-top:1px solid #f9f9f9;}
.section10 .slider {position: absolute;top:1200px;}
.section10 .thumbnails {background:#ef8575;height:136px;padding:16px 0 16px 16px;}
.section10 .thumbnails li {float:left;margin:0 9px 0 0;border:3px solid #fff;position:relative;}
.section10 .thumbnails li img {display: block;}
.section10 .thumbnails li .arrow {position: absolute;bottom:-25px;left:70px;display:none;}
.section10 .thumbnails li.on .arrow {display: block;}
.section10 .slider_item {padding:25px 0;display: none;}
.section10 .slider1 {display: block;}
.section10 .slider_item .banner {text-align:center;margin:0 0 15px 0;}
.section10 .slider_item h4 {line-height: 130%;margin:0 35px 20px 35px;}
.section10 .slider_item p {line-height: 130%;margin:10px 35px;font-size:28px;color:#8D8D8D;}
.section11_product {position: absolute;top:58px;left:139px;}
.section11_icon {border-bottom:2px solid #fafafa;padding:0 0 0 10px;}
.section11_txt {padding:30px 35px 20px 35px;background:#fff;position:relative;border-bottom: 2px solid #fafafa;}
.section11_btn {margin:30px auto 0 auto;text-align: center;}


.section1 {height:1117px;position:relative;background:url(../imgMobile/journey/section1_bg.jpg) no-repeat 0 80px;}
.section2 {height:1000px;position:relative;background:url(../imgMobile/journey/section2_bg.jpg) no-repeat;}
.section3 {height:634px;position:relative;background:url(../imgMobile/journey/section3_bg.jpg) no-repeat;}
.section4 {height:1060px;position:relative;background:url(../imgMobile/journey/section4_bg.jpg) no-repeat;}
.section5 {height:713px;position:relative;background:url(../imgMobile/journey/section5_bg.jpg) no-repeat;}
.section6 {height:1000px;position:relative;background:url(../imgMobile/journey/section6_bg.jpg) no-repeat;}
.section7 {height:1000px;position:relative;background:url(../imgMobile/journey/section7_bg.jpg) no-repeat;}
.section8 {height:1038px;position:relative;background:url(../imgMobile/journey/section8_bg.jpg) no-repeat;}
.section9 {height:1070px;position:relative;background:url(../imgMobile/journey/section9_bg.jpg) no-repeat;}
.section10 {height:2200px;position:relative;background:url(../imgMobile/journey/section10_bg.jpg) no-repeat;}
.section11 {height:1106px;position:relative;border-top:3px solid #f2f2f2;padding-top:20px;}